	
<div class="background">
</div>

	<div id="jumbotron">
		<div class="jumbo">
			<div class="row">
				<div class="small-centered small-12 columns text-center">
					<a href="#" class="large button radius success">Default Button</a>
				</div>
			</div>
		</div>
	</div>
