	
<div class="background">
</div>

<div id="jumbotron">
	<div class="row">
		<div class="jumbo-top text-center small-centered small-12 large-6 columns">
			<h1>Fitness for Everyone</h1>
			<p class="bannertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed consectetur mauris, nec vulputate eros. Aenean fringilla dolor a ultrices ullamcorper. Nam sit amet libero ligula. </p>
		</div>
	</div>
		
	<div class="jumbo">
		<div class="row">
			<div class="small-centered small-12 columns text-center">
				<a href="#" class="large button radius success">Get Fit Today</a>
			</div>
		</div>
	</div>
</div>
