
<section id="equipment">
	<div class="background"></div>
	<header id="top_content">
		<div class="row">
			<div class="small-12 columns">
				<h1>Top Content</h1>
			</div>
		</div>
	</header>
</section>

