<section id="jumbo">

	<div class="background">
		<a href="#" id="jumbo_button" class="large button radius success">Get Fit Today</a>
	</div>
	
	<div id="jumbotron">
		<header>
			<div class="row">
				<div class="text-shadow jumbo-top text-center small-centered small-12 large-6 columns">
					<h1 class="logo-font">Fitness for Everyone</h1>
					<p class="bannertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed consectetur mauris, nec vulputate eros. Aenean fringilla dolor a ultrices ullamcorper. Nam sit amet libero ligula. </p>
				</div>
			</div>
		</header>

	<!-- 	<section class="jumbo">
			<div class="row">
				<div class="small-centered small-12 columns text-center">
					
				</div>
			</div>
		</section> -->
	</div>

</section>