<section class="halfcircle text-shadow" id="locations">
	<div class="content-block-10">
    <div class="row">
    	<div class="small-12 columns">
    		<h1 id="test-header" class="text-center">Why <span class="logo-font">Fitness for Everyone?</span></h1>
    	</div>
    </div>
    <div class="row">
    	<div class="small-12 medium-6 columns">
		<h2>Locally Based</h2>
		<p>Headquartered in Maui, we go anywhere in the Hawaiian Islands.  Fitness For Everyone is the exclusive Hawaii dealer for many of the most recognized fitness brands.  We may deal nationally but we serve locally.</p>
		<h2>Custom Service</h2>
		<p>When you order equipment from Fitness For Everyone, you can rest easy knowing that if anything goes wrong, we’ve got your back with comprehensive service for every piece of equipment we sell.  Fitness for Everyone is also fully insured so you don't have to worry about a thing. </p>
		<h2>A Personal Touch</h2>
		<p>Our certified personal trainer can provide you with a personalized program specific to your needs.  When we say Fitness for Everyone, we mean it!  Whether you’re just starting out and are looking to shed a few pounds or whether you’re training for next season, we can provide you with the roadmap to success.</p>
    	</div>
    </div>
    </div>
</section>
