<section class="halfcircle text-shadow background" id="subsection">
	<div class="row">
		<div class="content-block-10 small-12 columns text-center small-centered">
			<div class="peri">
				<div class="window-tint">
					<div class="small-12 columns text-center">
						<h2>For Everyone?  <br>You bet!</h2>
						<div class="small-12 medium-8 columns small-centered">
						<p>
						<span class="logo-font">Fitness for Everyone</span> offers everything from equipment services to personal training to fit everyone's needs.  We've got you covered!
						</p>
						<ul class="show-for-small-only button-group round">
							
							<li><%=link_to("Equipment", equipment_path, class: "primary small button")%></li>
							<li><%=link_to("Training", trainer_path, class: "secondary small button")%></li>				
						</ul>
						<ul class="show-for-medium-up button-group round">
											
							<li><%=link_to("Equipment", equipment_path, class: "primary button")%></li>
							<li><%=link_to("Training", trainer_path, class: "secondary button")%></li>
						</ul>
						</div>
					</div>
				</div>				
			</div>	
			<div class="text-center border content-block-5 small-11 small-centered medium-8 columns">
				<h3>We've Got What You Need</h3><p>Need a new treadmill, rower or stepper?  Fitness Equipment sells and services top-of-the-line commercial and personal fitness equipment. Need something bigger?  We also do computer design of fitness rooms for hotels, resorts, multi-family housing condominiums, and homes. We will go anywhere in Hawaii, all islands! </p>
			</div>
		</div> 							
	</div>

</section>
