<section class="halfcircle text-shadow background" id="subsection">
	<div class="row">
		<div class="content-block-10 small-12 columns text-center small-centered">
			<div class="peri">
				<div class="window-tint">
					<div class="small-12 columns text-center">
						<h2>For Everyone?  <br>You bet!</h2>
						<div class="small-12 medium-8 columns small-centered">
						<p>
						<span class="logo-font">Fitness for Everyone</span> offers everything from equipment services to personal training to fit everyone's needs, we've got you covered!
						</p>
						<ul class="button-group round">
						  <li><%=link_to("Equipment", equipment_path, class: "primary small button")%></li>
						  <li><%=link_to("Training", trainer_path, class: "secondary small button")%></li>
						</ul>
						</div>
					</div>
				</div>				
			</div>	
			<div class="text-center border content-block-5 small-11 small-centered medium-6 columns">
			<h3>Subheading</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in tristique sem. Etiam posuere velit at tincidunt tincidunt. Proin consequat ac massa vel efficitur. Quisque ac consectetur mi. Sed sed est ac diam interdum ultricies non vitae augue. Proin non viverra quam. Vivamus cursus felis mi, ornare auctor nisi tincidunt in.</p>
		</div>
	</div> 							
		</div>

</section>
