<section class="halfcircle text-shadow background" id="certs">
	<div class="content-block-5">
	<div class="row">
		<div class="small-12 medium-6 small-centered columns">
			<h1 class="text-center">Qualified and Certfied to Get You in Shape</h1>
		</div>
	</div>
	<div class="row">
		<div class="text-center small-centered small-12 medium-10 columns">
			<div class="content-block-2 small-4 columns "><%=image_tag('afpa.svg')%></div>
			<div class="content-block-2 small-4 columns"><%=image_tag('f4e_ribbon.svg')%></div>	
			<div class="content-block-2 small-4 columns"><%=image_tag('nsca.svg')%></div>		
		</div>
	</div>
	<div class="row">
		<div class="text-center border small-12 small-centered medium-6 columns">
			<h2>Heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga, nostrum mollitia aliquam repellendus, nobis minus! Animi ducimus ullam vero repudiandae quas consequatur accusamus eligendi, quisquam, atque quasi, quibusdam dignissimos?</p>	
		</div>
	</div>
	</div>
</section>