<section class="text-shadow background" id="trainer_jumbo">
	<header id="header">
		<div class="row">
			<div class="jumbo-content text-center small-12 columns medium-offset-6 medium-6">
				<h1>Personal Training</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis non molestiae ratione dignissimos laboriosam saepe possimus in autem temporibus magnam blanditiis tenetur, ut minus suscipit, nesciunt reiciendis veritatis esse. Sit?</p>
				<%=link_to("Get In Touch!", contact_path, class: "text-shadow large button radius success")%>
			</div>
		</div>
	</header>
</section>