@import "utils";
@import "variables";
@import "foundation/functions";

#contact.background{
	background-image: image-url('Underglow3.svg');
	background-color: lighten($primary-blue, 10%);
}

#contact{
	padding-top: 5%;
	#email{
		width: 300px;
		height: auto;
	}
	
	.field_with_errors{
		display: inline;

	}
	#submit{
		margin-top: 10px;
	}
	.message{
			background-color: $alert-color !important;
	}
	.field_with_errors{
		border: 1px solid $alert-color;
	}

	#contact_message{
		height: 100px;
	}
}