@import "utils";
@import "variables";
@import "foundation/functions";

#contact.background{
	background-image: image-url('Underglow3.svg');
	background-color: lighten($primary-blue, 10%);
}

#contact{
	padding-top: 5%;
	#email{
		width: 300px;
		height: auto;
	}
	
	.field_with_errors{
		display: inline;
		.message{
			color: red;
		}
	}
	.field_with_errors>input{
		border: 1px solid red;
	}
}