
@import "utils";
@import "variables";
@import "foundation/functions";

#equip-curveColorTop{
	fill: #005895;
}

#equipment-header.background{
	background-image: linear-gradient(to bottom, rgba(0,142,238,0.45) 0%, rgba(0,88,149,1) 100%), image-url('equipment-bg.jpg');
	background-attachment: scroll, fixed;
}

#equipment-header{
	#top_content{
		position: relative;
		top: 10%;
	
		.first{
			float: right;
		}

		.third{
			float: left;
		}
		.circle{
			@include circle-icon(150);
			border: 5px solid $bg-grey;
			
			@media #{$small-only}{
				@include circle-icon(100);
				
			}
			@media #{$super-small-only}{
				@include circle-icon(100);
			
			}
			@media #{$screen} and (min-width: 500px) and (min-height:800px) and (max-width:860px){
				@include circle-icon(100);
			
			}
		}
		.second{
			border: none;
			box-shadow: none;
			background-image: image-url('f4e.svg');
			background-size: contain;
		}
	}
}
.eqip-bg{

	@include background(image-url('Underglow.svg'), contain);
	padding: 3rem;
}

#equipment{

	height: auto;	
	@media #{$medium-up}{
		@include background(image-url('hawaii1.svg'),contain, center center);
			
	}
	@media #{$super-small-only}{
		
		text-align: center;
	}
	@media #{$small-only}{
		
		text-align: center;
	}

	.heading{
		height: 100%;
	}

	.row{
		@media #{$medium-up}{
			padding: 2rem 2rem;
			margin: 0 auto;
		}	
		height:100%;
	}

	.vertical-parent{
		height: rem-calc(350);
		@media #{$medium-only}{
			height: rem-calc(250);
		}
		@media #{$super-small-only}{
			height: rem-calc(200);
			margin: 2rem 0 2rem 0;
		}
		@media #{$small-only}{
			margin: 3rem 0 3rem 0;
			height: rem-calc(200);
		}
	}

	.vertical-center{
		@media #{$medium-up}{
			padding: 1rem 1rem;
		}
	}

	.circle{
		@include circle-icon(350);
		border: 15px solid $bg-grey;
		@media #{$medium-only}{
			@include circle-icon(250);
		}
		@media #{$small-only}{
			@include circle-icon(200);
				
		}
		@media #{$super-small-only}{
			@include circle-icon(200);
		}
	}
}

#brands #curveUpColor{
	background-color: #007ed4;
	fill: $primary-blue;

}

#brands.background{
	background-image: image-url('circle-bg.svg'), image-url('Underglow2.svg');
}

#brands{
	height: auto;
	.content{
		padding: 8rem 0 8rem 0;
		.promo{
			font-size: 1.25rem;
		}
	}

	.logo-block{
		padding: 4rem 0 4rem 0;
		ul:nth-of-type(2){
			padding: 2rem 0 2rem 0;
		}
	}

	.circle{
		display: block;
		border: 5px solid $bg-grey;
		background-size: auto auto;
		background-color: lighten($primary-blue, 55%);
		transition: all .3s ease-out;

		@include circle-icon(200);
		@media #{$super-small-only}{
			@include circle-icon(75);
		}
		@media #{$small-only}{
			@include circle-icon(100);
		}
	
		&:hover{
			transform: scale(1.10, 1.10);
			border: none;
		}

		.vertical-center{
			top: 50%;
 			left: 50%;
 			transform: translate(-50%, -50%);
		}

		img{
			height: auto;
			width: 75%;
		}
	}

	.company{
		font-family: $testimonial-font;
	}	
}

