
@import "utils";
@import "variables";
@import "foundation/functions";

#equip-curveColorTop{
	fill: #005895;
}

#equipment-header.background{
	background-image: linear-gradient(to bottom, rgba(0,142,238,0.45) 0%, rgba(0,96,161,1) 80%), image-url('equipment-bg.jpg');
	background-attachment: scroll, fixed;
	min-height: 100%;
}

#equipment-header{
	#top_content{
		position: relative;
		top: 10%;
	}
}
.eqip-bg{

	@include background(image-url('Underglow.svg'), contain);
	padding: 1rem;
	@media #{$medium-up}{
		padding: 3rem;
	}
}

#equipment{

	height: auto;	
	@media #{$medium-up}{
		@include background(image-url('hawaii1.svg'),contain, center center);
			
	}
	@media #{$super-small-only}{
		
		text-align: center;
	}
	@media #{$small-only}{
		
		text-align: center;
	}

	.border{
		padding: 0;
	}

	.big-box{
		max-width: 400px;
		margin: 0 auto;
	
		@media #{$small-only}{
			width: 100%;
		}
		@media #{$medium-up}{
			max-width: 800px;
			width: 100%;
		}
	}
	
	.img-wrapper{
		
		width: 100%;
		img{
			height: 100%;
			width: 100%;
		}
	}
	.heading{
		height: 100%;
	}

	.row{
		@media #{$medium-up}{
			margin: 0 auto;
		}	
		height:100%;
	}

	.vertical-parent-table{
		height: 100%;
		display: table;

	}

	.vertical-center-table{
		//height: 400px;
		padding: 1.5rem;
		display: table-cell;
		vertical-align: middle;
		position: static;
		top: 0;
		transform: none;
	}
}

#brands.background{
	background-image: image-url('circle-bg.svg'), image-url('Underglow2.svg');
}

#brands{
	background-color: #007ed4;
	height: auto;
	.content{
		padding: 8rem 0 8rem 0;
		
	}

	.logo-block{
		padding: 4rem 0 4rem 0;
		ul:nth-of-type(2){
			padding: 2rem 0 2rem 0;
		}
	}

	.circle{
		display: block;
		border: 5px solid $bg-grey;
		background-size: auto auto;
		background-color: lighten($primary-blue, 55%);
		@include vendor-prefix(transition, all .3s ease-out);
		@include circle-icon(200);
		@media #{$super-small-only}{
			@include circle-icon(75);
		}
		@media #{$small-only}{
			@include circle-icon(100);
		}
	
		&:hover{
			transform: scale(1.10, 1.10);
			border: none;
		}

		.vertical-center{
			top: 50%;
 			left: 50%;
 			@include vendor-prefix(transform, translate(-50%, -50%));
		}

		img{
			height: auto;
			width: 75%;
		}
	}

	.company{
		font-family: $testimonial-font;
	}	
}

