@import "utils";
@import "variables";
@import "foundation/functions";

#equip-curveColorTop{
	fill: #005895;
}

#equipment-header.background{
	background-image: linear-gradient(to bottom, rgba(0,142,238,0.45) 0%, rgba(0,96,161,1) 80%), image-url('equipment-bg.jpg');
	background-attachment: scroll, fixed;
	min-height: 100%;
}

.padder{
	margin-bottom: 15%;
}

.eqip-bg{
	@include background(image-url('Underglow.svg'), contain);
	padding: 1rem;
	@media #{$medium-up}{
		padding: 3rem;
	}
}

#equipment{
	height: auto;	

	@media #{$super-small-only}{
		
		text-align: center;
	}
	@media #{$small-only}{
		
		text-align: center;
	}

	.big-box{
		@include vendor-prefix(box-shadow, 0 0 10px 2px rgba(0,0,0,.5));
		max-width: 400px;
		margin: 0 auto;
		overflow: hidden;
		@media #{$small-only}{
			width: 100%;
		}
		@media #{$medium-up}{
			max-width: 800px;
			width: 100%;
		}
	}
	
	.img-wrapper {
		width: 100%;
		img{
			height: 100%;
			width: 100%;
		}
		.icon-wrapper{
			height: 100%;
			width: 100%;
			@include vendor-prefix(transition, all 400ms ease-in-out);
			
		}

		.icon{
			position: absolute;
			left: 0;
			top: 0;
			@include vendor-prefix(transition, all 400ms ease-in-out);
			&:hover{
				@include vendor-prefix(transform, scale(1.2, 1.2));
			}
		}
	}

	.img-wrapper.odd{
		&:hover:before{
			background-color: rgba(0,0,0,.35);
			@media #{$medium-up}{
				height: 100%;
				width: 200%;
			}
			height: 200%;
		}
		
		&:before{
			position: absolute;
			content: '';
			@media #{$medium-up}{
				
			}
			background-color: rgba(0,0,0,.2);
			height: 100%;

			width: 100%;
			left: 0;
			top: 0;
			@include vendor-prefix(transition, all 400ms ease-in-out);
		}
	}

	.img-wrapper.even {
		&:before{
			content:'';
			@media #{$medium-up}{
				//content: image-url('f4e-blue.svg');
			}
			position: absolute;
			background-color: rgba(0,0,0,.2);
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			@include vendor-prefix(transition, all 200ms ease-in-out);
		}
		&:hover:before{
			background-color: rgba(0,0,0,.35);
			width: 200%;
			left: -100%;
		}
	}

	.heading{
		height: 100%;
	}

	.row{
		@media #{$medium-up}{
			margin: 0 auto;
		}	
		height:100%;
	}

	.vertical-parent-table{
		height: 100%;
	}

	.vertical-center-table{
		padding: 1.5rem;
		position: static;
		top: 0;
		transform: none;
	}
}

#brands.background{
	background-image: image-url('circle-bg.svg'), image-url('Underglow2.svg');
}

#brands{
	background-color: #007ed4;
	height: auto;

	.content{
		padding: 8rem 0 8rem 0;
		
	}

	.logo-block{
		padding: 4rem 0 4rem 0;
		
	}

	.circle{
		display: block;
		border: 5px solid $bg-grey;
		background-size: auto auto;
		background-color: lighten($primary-blue, 55%);
		@include vendor-prefix(transition, all .3s ease-out);
		@include circle-icon(200);
		@media #{$super-small-only}{
			@include circle-icon(75);
		}
		@media #{$small-only}{
			@include circle-icon(100);
		}
	
		&:hover{
			transform: scale(1.10, 1.10);
			border: none;
		}

		.vertical-center{
			top: 50%;
 			left: 50%;
 			@include vendor-prefix(transform, translate(-50%, -50%));
		}

		img{
			height: auto;
			width: 75%;
		}
	}

	.company{
		font-family: $testimonial-font;
	}	
}

