@font-face {
    font-family: 'aleobold';
    src: url(font_path('Aleo-Bold-webfont.eot'));
    src: url(font_path('Aleo-Bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('Aleo-Bold-webfont.woff')) format('woff'),
         url(font_path('Aleo-Bold-webfont.ttf')) format('truetype'),
         url(font_path('Aleo-Bold-webfont.svg#aleobold')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo';
    src: url(font_path('Aleo-Italic-webfont.eot'));
    src: url(font_path('Aleo-Italic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font_path('Aleo-Italic-webfont.woff')) format('woff'),
         url(font_path('Aleo-Italic-webfont.ttf')) format('truetype'),
         url(font_path('Aleo-Italic-webfont.svg#aleobold')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src: url(font_path('icomoon.eot'));
    src: url(font_path('icomoon.eot?#iefix-eouqfz')) format('embedded-opentype'),
         url(font_path('icomoon.ttf?-eouqfz')) format('truetype'),
        url(font_path('icomoon.woff?-eouqfz')) format('woff'),
        url(font_path('icomoon.svg?-eouqfz#icomoon')) format('svg');
    font-weight: normal;
    font-style: normal;
}


