
@import "utils";
@import "variables";
@import "foundation/functions";

.background{
	@extend %background;
}

.block{
	@extend %block;
}

.jumbo{
	
	background-repeat: no-repeat;
	background-attachment: scroll, scroll, fixed;
	background-position: center center;
}

.fade-in{
	animation: fade-in .6s linear 1;
}

@keyframes fade-in {
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
}

@media #{$small-only}  {
	$topbar-title-font-size: rem-calc(16);
}
@media #{$super-small-only}{
 	$topbar-title-font-size: rem-calc(16);
 }

html, body{
	height: 100%;
	background-color: lighten($primary-blue, 10%);
	color: $white;
}

#navbar{
	z-index: 9999;
}

.border{
	@media #{medium-up}{
		padding: 1rem;
	}
	border:1px solid $bg-grey;
	@include vendor-prefix(box-shadow,  0px 1px 1px 0px rgba(0,0,0,0.25));
}

#top-overlay{
	@media #{$super-small-only}{
		background-color: rgba(255, 255, 255, 0.8);

	}
	@media #{$small-only}{
		background-color: rgba(255, 255, 255, 0.8);

	}	
}

#top-overlay li {
  	background: $clear; 
}

#top-overlay li>a, #footer #footerNav li>a {
	@include vendor-prefix(transition, all 200ms ease-in-out);
}

#top-overlay li>a:hover, #top-overlay li.active {
  color: $primary-blue;
}

.logo-font{
	font-family: $logo-font !important;
}

.logo, #logo{
	color: $primary-blue;
	@include vendor-prefix(transition, all 500ms ease-in-out);
	@media #{$super-small-only}{
		font-size: 1.25rem;
	}
}

.logo:hover, #logo:hover{
	color: $alert-color;
}

.text-shadow{
	text-shadow: 1px 1px #000000;
}

.whiteStroke {
    stroke: rgba(253, 253, 253, .05);
    stroke-width: 2;     
}

.vertical-parent{
		position: relative;
}

.vertical-center{
	  	position: absolute;
	  	top: 50%;
	   	transform: translateY(-50%);
		
}

.circle{
	img{
		display: block;
        height: 100%;
        width: 100%; 
        min-width: 100%;
        min-height: 100%;
	}
	
}



#curveDownColor{
	fill: lighten($primary-blue, 10%);
}

#curveColorTop{
	fill: darken(rgba(0,111,187,1), 18.5%);
}
#footer{
	background-color: #001829;
	margin-top: -2rem;
	background-image: image-url('footerlogo.png');
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: contain;

	@media #{$small-phablet}  {
		height: 100%;
	}	
	@media #{$super-small-phablet} {
		height: 100%;
	}
	@media #{$small-only}  {
		height: 100%;
	}	
	@media #{$super-small-phablet} {
		height: 100%;
	}
	@media #{$medium-up}{
		height: 65%;
	}	
	.row{
		height: 100%;
	}
	
	.border{
		@media #{$small-only}{
			border:none;
		}
		@media #{$super-small-only}{
			border:none;
		}
	}
	p{
		padding: 0 1rem 0 1rem;
		@media #{$medium-up}{
			padding: 0 2rem 0 2rem;
		}
	}
	#footerNav{
		padding: 1.5rem 0 .75rem 0;
		margin: 0 auto;
	
		font-family: $font-family-custom-serif;
		
		li{
			padding-left: 1rem;
			font-size: rem-calc(18);
			list-style-type: none;
			display: inline-block;
					@media #{$small-only}  {
				display: block;
				padding-left: 0;
				padding-top: .25rem;
			}	
			a{
				color: $white;
			}
			a.active, a:hover{
				color: lighten($primary-blue, 20%);
			}
		}
	}

	.icons{
	
		li{
			display: inline;
			margin: 1rem;
			@media #{$small-only}{
				margin: .5rem;
			}
			.icon-img{
				width: rem-calc(50);
	
			}
		}

	}

}