@import "utils";
@import "variables";
@import "foundation/functions";

#home_jumbo.background{
	background-image: linear-gradient(to bottom, rgba(0,96,161,0) 0%, rgba(0,96,161,1) 100%),  image-url('bg-test.jpg');
	background-attachment: scroll, fixed;
	height: 400px;

	@media #{$medium-up}{
		height: 600px;
	}
}

#home_jumbo, #jumbotron{
	position: relative;
}

#home_jumbo{
	.jumbo-content{
		@media #{$super-small-only}{
			margin-top: 25%;
		}
		@media #{$small-only}{
			margin-top: 25%;
		}
	}
	.fa{
		padding-left: .5rem;
		padding-right: .5rem;
	}

	#jumbo-header{
		font-size: 2.5rem;
		@media #{$medium-up}{
			font-size: 3rem;
		}
	}
	
	.bannertext{
		padding: 1rem 0 1rem; 
		font-family: $font-family-custom-serif;
		color: white !important;
		text-transform: uppercase;
		font-size: 1.25rem;
		@media #{$medium-up}{
			font-size: 1.5rem;
		}
	}
}

#subsection, #testimonials{
	height: auto;
}

#subsection.background{
	background-color: $primary-blue;
}

#subsection{

	.subheading-row{
		position: relative;
	}

	.vertical-center{
	  	position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);	
  	}
	

	.peri{
		@media #{$medium-up}{
			height: 640px;
		}
		@media #{$super-small-only}{
			height: 275px;
			width: 275px;
		}
		@media #{$small-only}{
			height: 300px;
			width: 300px;
		}
		max-height: 640px;
		max-width: 640px;
		background-image: image-url('fitness4everyone.jpg');
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
		position: relative;
		margin: 0 auto;
		background-repeat: no-repeat;
	}

	.window-tint{
		background-color: rgba(0, 24, 41,0.5);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    border-radius: 50%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    opacity: 0;

	  	h1{
	  		@media #{$super-small-only}{
	  			font-size: 1.8rem;
	  		}
	  		@media #{$small-only}{
	  			font-size: 2rem;
	  		}
	  	}

	  	.button-group{
	  		text-shadow: none;
	  	}
    }

  	.show-for-small-only .row, .show-for-medium-up{
		margin-top: 2rem;
  	}

	#topTriangleColor{
		fill: #004D82;
   	}
   
	p{
		@media #{$super-small-only} {
			font-size: .85rem;
		}
	}

   	.circle{
		@include circle-icon(250);
	  	@media #{$small-only} {
			@include circle-icon(150);
		}
	}
}

#testimonials .row{
	margin-top: 2rem;
	@media #{$small-only} {
		margin-top: 1rem;
	}
	@media #{$super-small-only} {
		margin-top: 1rem;
	}

}

#testimonials{
	@include background(image-url('Underglow.svg'), cover, bottom);
	padding-bottom: 4rem;
	
	p{
		font-family: $testimonial-font;
		@media #{$super-small-only} {
			font-size: .85rem;
		}
	}

	#bottomTriangleColor{
		margin: 0 auto;
		fill: rgba($primary-blue, 1);
   	}

  	.testimonial-row{
  		height: rem-calc(300);
 
  		@media #{$small-only} {
			height: rem-calc(250);
		}
		@media #{$super-small-only} {
			height: rem-calc(250);
		}
	
  	}

  	.circle{
		@include circle-icon(300);
	  	@media #{$small-only} {
			@include circle-icon(250);
		}
		@media #{$super-small-only} {
			@include circle-icon(250);
		}
	}
  	p.author{
  		font-size: 1.25rem;
		text-align: right;
  	
	}
	
	.testimonial-even{
		padding-right: 2rem;
	}

	.vertical-parent{
		@media #{$super-small-only}{
			margin-top: rem-calc(30);
		}

		@media #{$small-only}{
			margin-top: rem-calc(30);
		}
		
		@media #{$medium-up}{
			margin-top: 0;
		}
	}

	.testimonial-row>.row, .vertical-parent{
		height: 100%;
	} 

	.talkbubble {
		@include vendor-prefix(box-shadow, 0px 1px 0px darken($primary-blue, 20%));
	 	padding: 1rem;
	   	background: rgba(0, 96, 161, 0.5);
	   	position: relative;
	   	-moz-border-radius:    10px;
	   	-webkit-border-radius: 10px;
	   	border-radius:         10px;
	}
	
	.talkbubble:before{
		content:"";
	  	position: absolute;
	  	@media #{$medium-up}{
	  		top: 30%;
	  	}
	  	top: -26px;
	   	width: 0;
	   	height: 0;
	}

	.talkbubble.left:before{
		@media #{$medium-up}{
	  		left: 100%;
			border-top: 13px solid transparent;
	   		border-left: 26px solid rgba(0, 96, 161, 0.5);
	   		border-bottom: 13px solid transparent;
	  	}
	}

	.talkbubble.right:before {
		@media #{$medium-up}{
	  		right: 100%;
	   		border-top: 13px solid transparent;
	   		border-right: 26px solid rgba(0, 96, 161, 0.5);
	   		border-bottom: 13px solid transparent;
	  	} 
	}

	.talkbubble.up:before {
		@media #{$super-small-only}{
	  		left: 50%;
	  		margin-left:-13px;
	   		border-left: 13px solid transparent;
	   		border-bottom: 26px solid rgba(0, 96, 161, 0.5);
	   		border-right: 13px solid transparent;
	  	} 
	  	@media #{$small-only}{
	  		left: 50%;
	  		margin-left:-13px;
	   		border-left: 13px solid transparent;
	   		border-bottom: 26px solid rgba(0, 96, 161, 0.5);
	   		border-right: 13px solid transparent;
	  	} 
	}
}




