@import "utils";
@import "variables";
@import "foundation/functions";

#jumbo.jumbo.background{
	background-image: linear-gradient(to bottom, rgba(0,96,161,0.25) 0%, rgba(0,96,161,1) 100%), image-url('overlay.svg'), image-url('island.jpg');
	background-size: cover;
	background-attachment: scroll, scroll, fixed;
}

#jumbo, #jumbotron{
	position: relative;
}

#jumbo{
	height: 110%;
	#jumbotron{

		top: 10%;
		.circle{
			@include circle-icon(50);
			background: none;
			border: solid 1px $bg-grey;
			box-shadow: none;
		}
		
	}

	.bannertext{
		color: white !important;
	}

	.divider-logo{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		bottom: 100px;

		
	}

	
}

#subsection, #testimonials{
	height: auto;
}


#subsection{
	
	background-image:   linear-gradient(to bottom, rgba(0,96,161,1) 0%, rgba(12,106,173,0.75) 25%, rgba(24,115,185,0.35) 50%, rgba(12,106,173,0.75) 75%, rgba(0,96,161,1) 100%), image-url('fitness4everyone.jpg');
	background-attachment: scroll, fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.subheading-row{
		position: relative;
	}

	.vertical-center{
	  	position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);	
  	}
	
	.content-block{
		margin-bottom: 5rem;
	}

  	.show-for-small-only .row, .show-for-medium-up{
		margin-top: 2rem;
  	}

	#topTriangleColor{
		fill: #004D82;
   	}
   
	p{
		@media #{$super-small-only} {
			font-size: .85rem;
		}
	}
   	.circle{
		@include circle-icon(250);
	  	@media #{$small-only} {
			@include circle-icon(150);
		}
	}
}

#testimonials .row{
	margin-top: 2rem;
	@media #{$small-only} {
			margin-top: 1rem;
	}
	@media #{$super-small-only} {
			margin-top: 1rem;
	}

}

#testimonials{
	background-image: image-url('Underglow.svg');
	background-position: bottom;

	background-size: cover;

	
	background-repeat: no-repeat;
	// background-color: lighten($primary-blue, 10%);
	padding-bottom: 10rem;

	p{
		font-family: $testimonial-font;
		@media #{$super-small-only} {
			font-size: .85rem;
		}
	}

	#bottomTriangleColor{
		margin: 0 auto;
		fill: rgba($primary-blue, 1);
   	}

  	.testimonial-row{
  		height: rem-calc(400);
  		@media #{$medium-only} {
			height: rem-calc(300);
		}
  		@media #{$small-only} {
			height: rem-calc(250);
		}
		@media #{$super-small-only} {
			height: rem-calc(250);
		}
	
  	}
  	p.author{
  		font-size: 1.25rem;
  		@media #{$medium-up}{
			text-align: right;
  		}
	}
	
	.testimonial-even{
		padding-right: 2rem;
	}
	.testimonial-row>.row, .vertical-parent{
		height: 100%;
	
	}
	
  	.circle{
		@include circle-icon(400);
	
		margin: 0;
		@media #{$medium-only} {
			@include circle-icon(300);
		}
	  	@media #{$small-only} {
			@include circle-icon(250);
		}
		@media #{$super-small-only} {
			@include circle-icon(250);
		}
	}
}




