@import "foundation/functions";

//Mixins
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin background($image: none, $size: cover, $position: center, $attachment: scroll, $repeat: no-repeat){

  background-image: $image;
  background-size: $size;
  background-position: $position;
  background-attachment: $attachment;
  background-repeat: $repeat;
}

@mixin circle-icon($height){
	width: rem-calc($height);
	height: rem-calc($height);
  overflow: hidden;
	@include vendor-prefix(border-radius, rem-calc($height/2));
	@include vendor-prefix(box-shadow, 1px 1px 1px rgba(0,0,0,1));
	margin-left: auto;
  margin-right: auto;
 
}

@mixin circle-icon-image($height, $image-url){
  @include circle-icon($height);
  background-image: image-url($image-url);
  background-size: cover;
}

//Extends

%background{
  @include vendor-prefix(background-size, cover);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;  
}

%block{
    margin: 4rem 0 4rem 0;
}

