<section class="halfcircle background" id="equipment-header">
	<header class="text-shadow" id="top_content">
		<div class="row">
			<div class="jumbo-content small-centered text-center small-11 medium-6 columns">
				<h1 class="border">Equipment Services</h1>
			<!-- 	<ul class="small-block-grid-3">
					<li>
					<div class="first small-centered medium-uncentered small-12 circle"><%=image_tag("personalgym.jpg")%></div></li>
					<li><div class=" second small-centered medium-uncentered small-12 circle"></div></li>
					<li><div class="third small-centered medium-uncentered small-12 circle"><%=image_tag("weight.jpg")%></div></li>
				</ul> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos totam beatae ducimus perferendis doloribus optio voluptatibus et similique, cumque distinctio nihil expedita maiores fugit debitis animi, adipisci quia ipsam sint.</p>
				<div class="padder">
					<%=link_to("Get In Touch!", contact_path, class: "text-shadow large button radius success")%>
				</div>
			</div>
		</div>
	</header>
</section>

