<section class="background" id="equipment-header">
	<header class="text-shadow" id="top_content">
		<div class="row">
			<div class="jumbo-content small-12 columns">
				<ul class="small-block-grid-3">
					<li>
					<div class="first small-centered medium-uncentered small-12 circle"><%=image_tag("personalgym.jpg")%></div></li>
					<li><div class="fade-in second small-centered medium-uncentered small-12 circle"></div></li>
					<li><div class="third small-centered medium-uncentered small-12 circle"><%=image_tag("weight.jpg")%></div></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-centered text-center small-12 medium-8 columns">
				<h1>Equipment Services</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos totam beatae ducimus perferendis doloribus optio voluptatibus et similique, cumque distinctio nihil expedita maiores fugit debitis animi, adipisci quia ipsam sint.</p>
				<%=link_to("Get In Touch!", contact_path, class: "text-shadow large button radius success")%>
			</div>
		</div>
	</header>
</section>

