
<footer class="background text-center text-shadow" id="footer">
	<div class="row">
		<div class="footer-content small-centered small-12 columns">
			<div class="row">
				<div class="border small-centered small-9 columns">
					<nav>
					<ul class="footerNav">
						<li><%=link_to("Home", root_path, class: is_active?(root_path))%></li>
						<li><%=link_to("Equipment", equipment_path, class: is_active?(equipment_path))%></li>
						<li><%=link_to("Personal Training", trainer_path, class: is_active?(trainer_path))%></li>
						<li><%=link_to("Contact", contact_path, class: is_active?(contact_path))%></li>
					</ul>
					</nav>
					<ul class="footerNav">
						<li>Phone: <a href="tel:1-808-268-5466">(808)-268-5466</a> </li>
						<li>Email: <a href="mailto:fitness@fitness4everyone.com"> fitness@fitness4everyone.com</a></li> 
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</footer>